# https://vercel.com/guides/how-can-i-use-github-actions-with-vercel
# https://vercel.com/guides/how-do-i-use-a-vercel-api-access-token
name: GigPass Test Deployment

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - test
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - test

jobs:
  Deploy-Test:
    name: Deploy GigPass to Vercel (Test)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-vite-

      - name: Create .env file
        run: |
          echo "VITE_SUPABASE_PROJECT_ID=${{ vars.TEST_VITE_SUPABASE_PROJECT_ID }}" > .env
          echo "VITE_SUPABASE_PUBLISHABLE_KEY=${{ vars.TEST_VITE_SUPABASE_PUBLISHABLE_KEY }}" >> .env
          echo "VITE_SUPABASE_URL=${{ vars.TEST_VITE_SUPABASE_URL }}" >> .env

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
